@page "/"

<PageTitle>AllTech Service</PageTitle>

<h1>Nome do Cliente</h1>

Bem vindo ao seu aplicativo de gestão da sua oficina! 

<p>
<img src="C:\Users\danie\OneDrive\Área de Trabalho\Dev\Site\img\sistemas.jpg">
</p>